@import "tailwindcss";

@font-face {
  font-family: "Jura";
  src: url("./fonts/Jura/Jura-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Jura";
  src: url("./fonts/Jura/Jura-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Jura";
  src: url("./fonts/Jura/Jura-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NewRocker";
  src: url("./fonts/NewRocker/NewRocker-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-text: #333333;
  --color-text-h: hsl(257, 37%, 4%);
  --color-accent: #ff3b6c;
  --color-accent-bg: rgba(255, 59, 144, 0.3);
  --color-accent-border: rgba(255, 59, 144, 0.5);
  --color-accent2: #ff3333;
  --color-accent3: #ffcc22;
  --shadow-DEFAULT:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --font-heading: Anta, system-ui, "Segoe UI", Roboto, sans-serif;
  --font-fancy: NewRocker, Anta, "Segoe UI", Roboto, sans-serif;
  --font-base: Montserrat, system-ui, "Segoe UI", Roboto, sans-serif;
  --font-details: "Jura", ui-monospace, Consolas, monospace;
}

:root {
  --text: var(--color-text);
  --text-h: var(--color-text-h);
  --bg: var(--color-bg);
  --bg2: var(--color-bg2);
  --bg3: var(--color-bg3);
  --border: var(--color-border);
  --accent: var(--color-accent);
  --accent-bg: var(--color-accent-bg);
  --accent-border: var(--color-accent-border);
}

#root {
  max-width: 100%;
  margin: 0 0;
  padding: 0;
  border: none;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  color: var(--text);
  background: var(--bg);

  /* custom cursor  */
  cursor:
    url("/src/assets/Avocado.png") 32 32,
    auto;
}

.fancyCursor:hover {
  cursor:
    url("/src/assets/Avocado.png") 32 32,
    auto;
}

body {
  @apply m-0 p-0 border-0;
}

.hugeHeading {
  @apply font-fancy text-4xl sm:text-7xl text-accent [text-shadow:6px_6px_4px_rgb(0_0_0)];
}

.bigHeading {
  @apply font-fancy text-2xl sm:text-4xl text-accent [text-shadow:6px_6px_4px_rgb(0_0_0)];
}

.largeHeading {
  @apply font-fancy text-xl sm:text-2xl text-accent [text-shadow:6px_6px_4px_rgb(0_0_0)];
}

.blackTextShadowBig {
  @apply [text-shadow:4px_4px_2px_rgb(0_0_0)];
}

.nightSkyBackground {
  @apply bg-[url('/src/assets/night-sky.png')] bg-center bg-no-repeat bg-cover;
}

/* PULSE ANIMATION */

@keyframes pulseScale {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.pulseScale {
  animation: pulseScale 1.5s ease-in-out infinite;
}

/* LOADING BAR ANIMATION */

@keyframes loadingBar {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

/* FADE OUT ANIMATION */

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
